@model Business.Timesheet
@{
    ViewBag.Title = "PayMe - Time Sheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Time Tracker</li>
    </ol>
</div><!--/.row-->
<div class="panel panel-default">
    <div id="title" class="panel-heading">Time Sheet</div>
    <div class="panel-body">
        @if (TempData["Message"] != null)
            {
            <p class="alert alert-success" id="successMessage">@TempData["Message"]</p>
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @using (Html.BeginForm("Create", "Timesheet", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.fkEmpId, htmlAttributes: new { @class = "control-label manadatory" })
                    @Html.DropDownList("EmployeeID", ViewBag.Employee as SelectList, "--Please select--", new { @class = "form-control input-lg" })
                    @Html.ValidationMessageFor(model => model.fkEmpId, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.fkClientId, htmlAttributes: new { @class = "control-label manadatory" })
                    @Html.DropDownList("ClientID", ViewBag.Client as SelectList, "--Please select--", new { @class = "form-control input-lg" })
                    @Html.ValidationMessageFor(model => model.fkClientId, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.fkProjectID, htmlAttributes: new { @class = "control-label manadatory" })
                    @Html.DropDownList("ProjectID", ViewBag.Project as SelectList, "--Please select--", new { @class = "form-control input-lg" })
                    @Html.ValidationMessageFor(model => model.fkProjectID, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.fkTaskID, htmlAttributes: new { @class = "control-label manadatory" })
                    @Html.DropDownList("TaskID", ViewBag.Task as SelectList, "--Please select--", new { @class = "form-control input-lg" })
                    @Html.ValidationMessageFor(model => model.fkTaskID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <br />
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.CheckInDate, htmlAttributes: new { @class = "control-label manadatory" })
                    @Html.EditorFor(model => model.CheckInDate, new { htmlAttributes = new { @class = "form-control" } })

                </div>

                <div class="col-lg-2">
                    @Html.LabelFor(model => model.CheckInDateTime, htmlAttributes: new { @class = "control-label manadatory" })
                    @Html.EditorFor(model => model.CheckInDateTime, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.CheckOutDatetime, htmlAttributes: new { @class = "control-label manadatory" })
                    @Html.EditorFor(model => model.CheckOutDatetime, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.Hours, htmlAttributes: new { @class = "control-label manadatory" })
                    @Html.EditorFor(model => model.Hours, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="col-lg-2" style="margin-top:30px;">

                    <input type="submit" value="Add" class="btn btn-md btn-primary" />

                </div>
                @*<p><button class="btn btn-default" onClick="$('.timer').countimer('start');">Start</button> <button class="btn btn-warning" onClick="$('.timer').countimer('stop');">Stop</button>  <button class="btn btn-success" onClick="$('.timer').countimer('resume');">Resume</button></p>*@

            </div>



        }



                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <div id="toolbar">
                                    <button id="export" class="btn btn-default">Export Excel</button>
                                </div>
                                <table id="table" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc"
                                       data-show-export="true" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th data-field="EmployeeName" data-sortable="true">Employee</th>
                                            <th data-field="ClientName" data-sortable="true">Client </th>
                                            <th data-field="ProjectName" data-sortable="true">Project </th>
                                            <th data-field="TaskName" data-sortable="true">Task </th>
                                            <th data-field="CheckInDateTime" data-sortable="true" data-formatter="dateFormat">Check In Date</th>
                                            <th data-field="CheckInDateTime" data-sortable="true" data-formatter="dateAndTimeFormat">Check In Date Time</th>
                                            <th data-field="CheckOutDatetime" data-sortable="true" data-formatter="dateAndTimeFormat">Check Out Date Time</th>
                                            <th data-field="Hours" data-sortable="true">Time</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script>

    $(document).ready(function () {
       
        $('#table').bootstrapTable('refresh', {
            "url": "/Timesheet/GetTimesheetEntries/"
        });
        var table = $('#table');
        $('#export').click(function () {
            table.tableExport({
                type: 'excel',
                escape: false
            });
        });

        $("#CheckInDate").datepicker
           ({
               dateFormat: "yy-mm-dd",
               changeMonth: true,
               changeYear: true,
               yearRange: "-100:+100"
           });
        $("#CheckInDateTime").datetimepicker
           ({
               format: "dd MM yyyy - hh:ii",
             
           });

        $("#CheckOutDatetime").datetimepicker
           ({
               format: "dd MM yyyy - hh:ii",
               
           });


    });

    
   
    $("#ClientID").change(function () {
        var clientNo = $("#ClientID").val();
        if (clientNo == null || clientNo == "") {
            alert("Please Select Client");
            return;
        }
        $("input[id='ClientName']").val(clientNo);
        if (clientNo != null || clientNo != "") {
            $.ajax({
                url: "/Tasks/BindProject",
                type: "POST",
                data: JSON.stringify({ 'clientNo': clientNo }),
                dataType: "json",
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                  
                    var listItems = "";
                    var list = "";
                    var a = result.bindingAddresses.project;
                    listItems = "<option value='" + -1 + "'>" + "--Please select--" + "</option>"
                    for (i in a) {
                        listItems += "<option value='" + a[i].Value + "'>" + a[i].Text + "</option>";
                    }
                    $("#ProjectID").html(listItems);
                },
                error: function () {
                    alert("An error has occured!!!");
                }
            });
        }
    });

    $("#ProjectID").change(function () {
        var projectId = $("#ProjectID").val();
        if (projectId == null || projectId == "") {
            alert("Please select project");
            return;
        }
        $("input[id='ProjectName']").val(projectId);
        if (projectId != null || projectId != "") {
            $.ajax({
                url: "/Tasks/GetTaskListByProject",
                type: "POST",
                data: JSON.stringify({ 'projectId': projectId }),
                dataType: "json",
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    debugger;
                    var listItems = "";
                    var list = "";
                    var a = result.bindingAddresses.task;
                    listItems = "<option value='" + -1 + "'>" + "--Please select--" + "</option>"
                    for (i in a) {
                        listItems += "<option value='" + a[i].Value + "'>" + a[i].Text + "</option>";
                    }
                    $("#TaskID").html(listItems);
                },
                error: function () {
                    alert("An error has occured!!!");
                }
            });
        }

    });
    function dateAndTimeFormat(value, row, index) {
        if(value!=null)
        return moment(value).format('DD/MM/YYYY HH:mm:ss');
    }
    function dateFormat(value, row, index) {
        if (value != null)
            return moment(value).format('DD/MM/YYYY');
    }
</script>