@model Business.Project

@{
    ViewBag.Title = "Pay Me - Project Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Project</li>
    </ol>
</div><!--/.row-->


<div class="panel panel-default">
    <div  id="title" class="panel-heading">Create Project</div>
    <div class="panel-body">

        @if (TempData["Message"] != null && TempData["Message"] != "")
            {
            <p class="alert alert-success" id="successMessage">@TempData["Message"]</p>
        }


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="row">
               
                   
                    <div class="col-lg-4">
                        @Html.HiddenFor(model => model.ID);
                        @Html.LabelFor(model => model.ClientID, htmlAttributes: new { @class = "control-label manadatory" }) <span class="text-danger">*</span>
                        @Html.DropDownList("ClientID", ViewBag.Roles as SelectList, "--Please select--"
, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(model => model.ClientID, "", new { @class = "text-danger" })
                    </div>
                   
                
                <div class="col-lg-4">
                    @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label manadatory" }) <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                </div>


            </div>

            <div class="row">
                <div class="clearfix"></div>
                <div class="col-lg-4">
                    @Html.LabelFor(model => model.PrimaryContact, htmlAttributes: new { @class = "control-label manadatory" })
                    @Html.EditorFor(model => model.PrimaryContact, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PrimaryContact, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-4">
                    @Html.LabelFor(model => model.LocationInfo, htmlAttributes: new { @class = "control-label manadatory" })
                    @Html.EditorFor(model => model.LocationInfo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LocationInfo, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label manadatory" })
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-4">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label manadatory" })
                    <br />
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    @Html.LabelFor(model => model.ManagerName, htmlAttributes: new { @class = "control-label manadatory" }) <span class="text-danger">*</span>
                    @Html.DropDownList("ManagerID", ViewBag.Managers as SelectList, "--Please Manager--"
, new { @class = "form-control input-lg" })
                    @Html.ValidationMessageFor(model => model.ManagerID, "", new { @class = "text-danger" })
                </div>


            </div>

            <br />
                <div class="row">
                    <div class="col-lg-4">

                        <input type="submit" id="create" value="Create" class="btn btn-md btn-primary" />
                        <input type="submit" id="update" value="Update"  class="btn btn-md btn-primary" />
                        @Html.ActionLink("Cancel", "/Index", "Project", null, new { @class = "btn btn-md btn-primary" })



                    </div>
                </div>
        }

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Tasks</div>
            <div class="panel-body">
                <div id="toolbar">
                    <button id="export" class="btn btn-default">Export Excel</button>
                </div>
                <table id="table" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc"
                       data-show-export="true" data-toolbar="#toolbar">
                    <thead>
                        <tr>
                            <th data-field="TaskName" data-sortable="true">Task Name</th>
                            <th data-field="ID" data-sortable="true" data-formatter="ActionEdit">Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">

    $(document).ready(function () {

        var ID = @ViewBag.editupdate;
        if ( ID==-1 )
        {
            $("#update").hide();
            $("#create").show();
            $('#title').text('Create Project');
        }
        else
        {
            $("#update").show();
            $("#create").hide();
            $('#title').text('Update Project');
        }
        $('#table').bootstrapTable('refresh', {
            "url": "/Tasks/GetTaskNameByProject/"+ID
        });

    });

    function ActionEdit(value) {
        return '<a href="/Tasks/Edit/' + value + '"><em class="fa fa-pencil" style="font-size:18px;"></a>';
    }

</script>