@model Business.Client

@{
    ViewBag.Title = "ClientCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Client</li>
    </ol>
</div><!--/.row-->


<div class="panel panel-default">
    <div id="title" class="panel-heading">Create Client</div>
    <div class="panel-body">

        @if (TempData["Message"] != null)
            {
            <p class="alert alert-success" id="successMessage">@TempData["Message"]</p>
        }


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-lg-4">
                    @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label manadatory" }) <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-4">
                    @Html.LabelFor(model => model.ClientCode, htmlAttributes: new { @class = "control-label manadatory" }) <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.ClientCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ClientCode, "", new { @class = "text-danger" })
                </div>


            </div>

            <div class="row">
                <div class="clearfix"></div>
                <div class="col-lg-4">
                    @Html.LabelFor(model => model.PrimaryContact, htmlAttributes: new { @class = "control-label manadatory" })
                    @Html.EditorFor(model => model.PrimaryContact, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PrimaryContact, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-4">
                    @Html.LabelFor(model => model.LocationInfo, htmlAttributes: new { @class = "control-label manadatory" })
                    @Html.EditorFor(model => model.LocationInfo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LocationInfo, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label manadatory" })
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-4">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label manadatory" })
                    <br />
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>


            </div>

            <br />
                <div class="row">
                    <div class="col-lg-4">

                        <input type="submit" id="create" value="Create" class="btn btn-md btn-primary" />
                        <input type="submit" id="update" value="Update" class="btn btn-md btn-primary" />
                        @Html.ActionLink("Cancel", "Index", "Client", null, new { @class = "btn btn-md btn-primary" })



                    </div>
                </div>
                <br />

                <div id="grid" class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Projects</div>
                            <div class="panel-body">
                                <div id="toolbar">
                                    <button id="export" class="btn btn-default">Export Excel</button>
                                </div>
                                <table id="table" data-toggle="table"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc"
                                       data-show-export="true" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th data-field="ClientName" data-sortable="true">Client</th>
                                            <th data-field="ProjectName" data-sortable="true">Project</th>
                                            <th data-field="PrimaryContact" data-sortable="true">Primary Contact</th>
                                            <th data-field="LocationInfo" data-sortable="true">Location Info</th>
                                            <th data-field="IsActive" data-sortable="true" data-formatter="YesNoFormater">Is Active</th>
                                            <th data-field="ID" data-sortable="true" data-formatter="ActionEdit">Edit</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        }

    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">

    $(document).ready(function () {

        var ID = @ViewBag.editupdate;
        if ( ID==-1 )
        {
            $("#grid").hide();
            $("#update").hide();
            $("#create").show();
            $('#title').text('Create Client');
        }
        else
        {
            $("#grid").show();
            $("#update").show();
            $("#create").hide();
            $('#title').text('Update Client');
        }

        $('#table').bootstrapTable('refresh', {
           
            "url": "/Client/GetProjectListByClient/"+@ViewBag.editupdate
        });

    });

    function ActionEdit(value) {
        return '<a href="../../Project/Edit/' + value + '"><em class="fa fa-pencil" style="font-size:18px;"></a>';
    }
</script>