<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
   
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/datepicker3.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="~/scripts/jqwidgets4.1.0/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="~/scripts/jqwidgets4.1.0/styles/jqx.classic.css" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxcore.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxdata.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxnumberinput.js"></script>

    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxfileupload.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxtree.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxsplitter.js"></script>

    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxcheckbox.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxmenu.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxgrid.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxgrid.edit.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxgrid.columnsreorder.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxgrid.columnsresize.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxangular.js"></script>


    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxgrid.filter.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxtabs.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxpanel.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxexpander.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxgrid.grouping.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxcalendar.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxtooltip.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxtoolbar.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxswitchbutton.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxwindow.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxinput.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxexpander.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxslider.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxmaskedinput.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxgauge.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxdata.export.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxgrid.export.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxnotification.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxdatatable.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxtreegrid.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxvalidator.js"></script>

    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxchart.core.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxchart.js"></script>

   
    <script src="~/Scripts/chart.min.js"></script>
    <script src="~/Scripts/chart-data.js"></script>
    <script src="~/Scripts/easypiechart.js"></script>
    <script src="~/Scripts/easypiechart-data.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/custom.js"></script>
 



</head>
<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-collapse" aria-expanded="true">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>Test</span>&nbsp;ME</a>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <em class="fa fa-envelope"></em><span class="label label-danger">15</span>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li>
                                <div class="dropdown-messages-box">
                                    <a href="profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="http://placehold.it/40/30a5ff/fff">
                                    </a>
                                    <div class="message-body">
                                        <small class="pull-right">3 mins ago</small>
                                        <a href="#"><strong>John Doe</strong> commented on <strong>your photo</strong>.</a>
                                        <br /><small class="text-muted">1:24 pm - 25/03/2015</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    <a href="profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="http://placehold.it/40/30a5ff/fff">
                                    </a>
                                    <div class="message-body">
                                        <small class="pull-right">1 hour ago</small>
                                        <a href="#">New message from <strong>Jane Doe</strong>.</a>
                                        <br /><small class="text-muted">12:27 pm - 25/03/2015</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="all-button">
                                    <a href="#">
                                        <em class="fa fa-inbox"></em> <strong>All Messages</strong>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <em class="fa fa-bell"></em><span class="label label-info">5</span>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="#">
                                    <div>
                                        <em class="fa fa-envelope"></em> 1 New Message
                                        <span class="pull-right text-muted small">3 mins ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <em class="fa fa-heart"></em> 12 New Likes
                                        <span class="pull-right text-muted small">4 mins ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <em class="fa fa-user"></em> 5 New Followers
                                        <span class="pull-right text-muted small">4 mins ago</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            @*<div class="profile-userpic">
                <img src="~/Images/UserIcon.png" class="img-responsive" alt="">
            </div>*@
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">@Session["FullName"]</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>
        <form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <ul class="nav menu">
            <li class="active"><a href="~/Home/Index"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
            <li><a href="~/Employee/Index"><em class="fa fa-users">&nbsp;</em> Employees</a></li>
            <li><a  href="~/Client/Index"><em class="fa fa-globe">&nbsp;</em> Clients</a></li>
            <li><a  href="~/Project/Index"><em class="fa fa-suitcase">&nbsp;</em> Projects</a></li>
            <li><a href="~/Tasks/Index"><em class="fa fa-tasks">&nbsp;</em> Tasks</a></li>
            <li><a  href="~/Expense/Index"><em class="fa fa-money">&nbsp;</em> Expenses</a></li>
          
            <li class="parent ">
                <a data-toggle="collapse" href="#sub-item-1">
                    <em class="fa fa-navicon">&nbsp;</em> Timesheet <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-1">
                    <li>
                        <a class="" href="#">
                            <span class="fa fa-arrow-right">&nbsp;</span> Sub Item 1
                        </a>
                    </li>
                    <li>
                        <a class="" href="#">
                            <span class="fa fa-arrow-right">&nbsp;</span> Sub Item 2
                        </a>
                    </li>
                    <li>
                        <a class="" href="#">
                            <span class="fa fa-arrow-right">&nbsp;</span> Sub Item 3
                        </a>
                    </li>
                </ul>
            </li>
            <li><a href="#"><em class="fa fa-bar-chart">&nbsp;</em> Reports</a></li>
            <li><a href="~/Login/Logout"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
        </ul>
    </div><!--/.sidebar-->

  
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
       
        <div class="container body-content">
           
        </div>
        <script src="~/js/jquery-3.3.1.min.js"></script>
        @*<script src="~/js/jquery-1.11.1.min.js"></script>*@
        <script src="~/js/tableExport.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/chart.min.js"></script>
        <script src="~/js/chart-data.js"></script>
        <script src="~/js/easypiechart.js"></script>
        <script src="~/js/easypiechart-data.js"></script>
        <script src="~/js/bootstrap-datepicker.js"></script>
        <script src="~/js/bootstrap-table.js"></script>
        <script src="~/js/custom.js"></script>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -Pay Me</p>
        </footer>

    </div>
    

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>
