@{
    ViewBag.Title = "PayMe - Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Client Dashboard</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div><!--/.row-->
    <div class="panel panel-container">
        <div class="row">
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-teal panel-widget border-right">
                    <div class="row no-padding">
                        <em class="fa fa-xl fa-shopping-cart color-blue"></em>
                        <div class="large">@ViewBag.ProjectCount</div>
                        <div class="text-muted">Projects</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-blue panel-widget border-right">
                    <div class="row no-padding">
                        <em class="fa fa-xl fa-comments color-orange"></em>
                        <div class="large">@ViewBag.ClientCount</div>
                        <div class="text-muted">Clients</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding ">
                <div class="panel panel-orange panel-widget border-right">
                    <div class="row no-padding">
                        <em class="fa fa-xl fa-users color-teal"></em>
                        <div class="large">@ViewBag.EmployeeCount</div>
                        <div class="text-muted">Employees</div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-red panel-widget ">
                    <div class="row no-padding">
                        <em class="fa fa-xl fa-search color-red"></em>
                        <div class="large">@ViewBag.TotalHourIncurrentMonth</div>
                        <div class="text-muted">Hours Payable -  @ViewBag.CurrentMonth</div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <h4>Time sheet for @ViewBag.CurrentMonth</h4>
                    <table id="table" data-toggle="table" data-url="../Home/GetAccountTimeSheetSummaries" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc"
                           data-show-export="true" data-toolbar="#toolbar">
                        <thead>
                            <tr>
                                <th data-field="CompanyName" data-sortable="true">Company Name</th>
                                <th data-field="ProjectName" data-sortable="true">Project Name</th>
                                <th data-field="Totalhours" data-sortable="true">Total Hours</th>
                            </tr>
                        </thead>
                    </table>
                    </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body" >
                    <h4>Expense for @ViewBag.CurrentMonth</h4>

                    <table id="table" data-toggle="table" data-url="../Home/GetAccountExpenseSummaries" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc"
                           data-show-export="true" data-toolbar="#toolbar">
                        <thead>
                            <tr>
                                <th data-field="CompanyName" data-sortable="true">Company Name</th>
                                <th data-field="ProjectName" data-sortable="true">Project Name</th>
                                <th data-field="TotalExpense" data-sortable="true"> Expense</th>
                                <th data-field="TotalApprovedExpense" data-sortable="true"> Approved Expense</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

